@model Grapp.Models.CharacterHistoryModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" role="form" action="">
    <div class="form-group">
        <label for="inputPlayerName" class="col-sm-2 control-label">Search for a player:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPlayerName" name="playerName" placeholder="Player name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </div>
</form>
<div class="col-md-6">
    <p>
        Last Update occurred on @Model.LastUpdate.ToLocalTime().ToShortDateString() @Model.LastUpdate.ToLocalTime().ToLongTimeString() <br/>
        Most recent update occurred on @Model.CurrentUpdate.ToLocalTime().ToShortDateString() @Model.CurrentUpdate.ToLocalTime().ToLongTimeString()
    </p>
</div>
<table class="table">
    <tr>
        <th>Skill</th>
        <th>Level</th>
        <th>Experience</th>
    </tr>
    @for(int i = 0; i < Math.Min(Model.Highscores.Count, Model.SkillIncrease.Count); i++)
    {
        var skill = Model.Highscores.ElementAt(i);
        var difference = Model.SkillIncrease.ElementAt(i);
        <tr class="@(@difference.Experience > 0 ? "success" : "")">
            <td>@skill.SkillType.ToString("f")</td>
            <td>@(skill.Level.ToString("#,##0"))           (+@(difference.Level.ToString("#,##0")))</td>
            <td>@(skill.Experience.ToString("#,##0"))           (+@(difference.Experience.ToString("#,##0")))</td>
        </tr>
    }
</table>

